[Desktop Entry]
Name=LogShred
GenericName=Shred all Logfiles!
TryExec=/usr/share/LogShred/su-to-logshred.sh
Exec=/usr/share/LogShred/su-to-logshred.sh %F
Terminal=true
Icon=builder
Type=Application
Categories=Application;
Comment=A GUI for shred
Keywords=scan;scanner;security;

